@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+PhagsPa&family=Roboto:wght@100;300;400;500;700;900&display=swap');

.main-container {
    
  display: flex;
  
 
}

.user-list {
  margin-left: 0;
  padding: 0px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.header h1 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  text-align: start;
}

.main-table {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 1rem;
}

.search-box {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.add-user-btn {
  background: #09007A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.add-user-btn:hover {
  background: white;
  color: #09007A;
  border: 1px solid #09007A;
}

.user-table-container {
  width: 100%;
  overflow-x: auto; /* Add horizontal scroll on small screens */
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  margin-top: 10px;
}

.user-table th,
.user-table td {
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
}

.user-table th {
  background: #09007A;
  color: white;
}

.user-table .api-image {
  height:50px;
  width: 50px;
  object-fit: contain;
}

.action-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.action-btn.edit {
  background: #059669;
  color: white;
  transition: none;
}

.action-btn.edit:hover{
  padding: 4px 8px;
  background-color: transparent;
  color: #059669;
  border: 1px solid #059669;
}

.action-btn.delete {
  background: #dc2626;
  color: white;
}


.action-btn.delete:hover{
  padding: 4px 8px;
  background-color: transparent;
  color: #dc2626;
  border: 1px solid #dc2626;
}

.action-btn.view {
  background: #02327a;
  color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .actions-container {
    flex-direction: column;
    gap: 10px;
  }

  .search-box {
    width: 40%;
  }

  .add-user-btn {
    width: 40%;
    margin-top: 10px;
  }

  .user-table th,
  .user-table td {
    font-size: 12px;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .header h1 {
    font-size: 1.2rem;
  }

  .user-table th,
  .user-table td {
    font-size: 10px;
    padding: 6px;
  }

  .action-btn {
    font-size: 10px;
    padding: 3px 5px;
  }
}
